SLASH = /
HTTP_SCHEME = http:$(SLASH)$(SLASH)
HTTPS_SCHEME = https:$(SLASH)$(SLASH)
TERRA_TREAD_GAME_API_BASE_URL = $(HTTP_SCHEME)mpmc.ddns.net:4010
TERRA_TREAD_AUTH_API_BASE_URL = $(HTTPS_SCHEME)auth.continental-hub.com
TERRA_TREAD_LOGIN_POPUP_URL = $(HTTPS_SCHEME)login.continental-hub.com$(SLASH)popup.html
TERRA_TREAD_ALLOW_WEB_AUTH = YES
